<launch>
  
  <node 
    name="mv_camera_pub" 
    pkg="mv_camera" 
    type="mv_camera" 
    respawn="true"
    >
    <remap from="/mv_camera_pub/image_raw" to="/image_raw" />
  </node>

  <node 
    name="simple_robot" 
    pkg="simple_robot" 
    type="simple_robot" 
    respawn="true"
    > 
  </node>

  <node 
    name="mv_camera_sub" 
    pkg="robot_detection" 
    type="robot_detection" 
    output="screen"
    respawn="true"
    > 
  </node>
  
</launch>